<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/static/basestyle.css">
  <script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      processEscapes: true
	    }
	  });
  </script>
  <script type="text/javascript" id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
</head>

<body>
  <div id="root">
    <div id="navbar">
    </div>
    <div id="page">
      <div id="header">
      </div>
      <div id="leftbox">
      </div>
      <div id="rightbox">
      </div>
    </div>
    <section id="footer">
    </section>
  </div>

</body>
</html>
