.codehilite {
  padding: 10px;
  color: #3B3B3B;
  overflow-x: auto;
  margin: 1em 0em 1em 0em;
  scrollbar-color: #faf9ec #3b3b3b;
  border-radius: 4px;
}

a {
  color: #3B3B3B;
}

a:hover {
  color: #B0E0E6;
}


